version: "3.9"

services:
  mongo:
    image: mongo:7
    restart: always
    ports:
      - "27017:27017"

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - REDIS_URL=redis://redis:6379
      - JWT_SECRET=super-secret
      - JWT_REFRESH_SECRET=super-refresh-secret
      - FRONTEND_BASE_URL=http://localhost:5173
      - STORAGE_PROVIDER=local
      - UPLOAD_DIR=uploads
    ports:
      - "4000:4000"
    depends_on:
      - mongo
      - redis

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
